.global-footer {
    // min-height: 346px;
    padding: 40px 0 16px 0;
    background-color: #2b2b2b;
    color: #8c8c8c;
    .navigation {
        ul {
            margin: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            li {
                padding: 10px 20px;
            }
        }
    }
}